body {
    padding-top: 60px;
    padding-bottom: 40px;

    text-shadow: white 0 1px 0;
    font-weight: 100;
}
.main{
    min-height: 500px;
}

#footer{
    background-color: whiteSmoke;
    height: 60px;
    padding-bottom: 0;
}