body {
    padding-top: 60px;
    padding-bottom: 40px;


    text-shadow: white 0 1px 0;
    font-weight: 100;
}
.main{
    min-height: 600px;
}

#footer{

    bottom:0;
    background-color: whiteSmoke;
    height: 60px;
    display: inline-block;
    width:100%;
    text-align: right;
    padding-top:10px;
}
p.title{
   margin-top: 5px;
}

div.span2{
    text-align: center;

}

.cover
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.cover:before, .cover:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.cover:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.cover:hover{
    box-shadow: 3px 3px 12px #999;
}
.book-name{
    font-color:#5A5A5A;
    text-align: center;
}
